@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

nav{
  position: fixed;
  height: 40px;
}

.main-container{
  position: relative;
  height: 100vh;
  width: 100vw;
}

.aside-section{
  margin-top: 40px;
  width: 90px;
}
.main-section{
  margin-top: 40px;
  width: 100%;
}

table{
  background-color: #e9faff;
  border-radius: 10px 10px 0 0;
}

table
tr th,
tr td{
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

table 
thead tr{
  border-bottom: 1px solid gray;
}

tr:nth-child(even){
  background-color: lightblue;
}

.table-footer{
  background-color: #e9faff;
  border-radius: 0 0 10px 10px;
  padding: 10px;
}