@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body{
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffff;
  z-index: 5;
}

.table-container{
  overflow-x: auto;
  width: 100%;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th {
  background-color: #828282;
  color: #FFFFFF;
  padding: 7px 12px;
  text-align: left;
  font-size: 16px;
}

td {
  padding: 10px 12px;
  text-align: left;
  font-size: 14px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.avatar-container{
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 5px;
}
.avatar{
  float: right;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* required css to make rounded table (below) */
/* tr:first-child th:first-child {
  border-top-left-radius: 10px;
}
tr:first-child th:last-child {
  border-top-right-radius: 10px;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
} */

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 7px solid #f3f3f3;
  border-top: 7px solid hsl(30, 90%, 68%);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body::-webkit-scrollbar{
  width: 7px;
  height: 5px;
}

body::-webkit-scrollbar-thumb{
  background: rgba(0,0,0,.26);
  border-radius: 10px;
}

.table-container::-webkit-scrollbar{
  height: 7px;
}

.table-container::-webkit-scrollbar-thumb{
  background: rgba(0,0,0,.26);
  border-radius: 10px;
}

.move-to-top{
  position: fixed;
  bottom: 54px;
  right: 24px;
  font-size: larger;
}

.search-container{
  position: relative;
}

.search-suggestions-list{
  position: absolute;
  /* max-height: 0px; */
  background-color: #FFFFFF;
  color: #000;
  width: 100%;
  /* overflow-y: scroll; */
  z-index: 100;
  box-shadow: 0px 0px 1px 1px #efefef
}